<ion-header>
  <ion-toolbar>
    <ion-title> App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/sporting.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Sporting</ion-card-subtitle>
      <ion-card-title>Welcome to the Lions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Sporting is one of the considered 3 big clubs in Portugal Football and
        was founded in 1st of july of 1906. They are the 3rd most decorated team
        with a total of 50 trophies including an international title won in
        1963-64.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>About Sporting</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon
        slot="start"
        color="medium"
        name="sporting-website"
        src="/assets/sporting.svg"
      ></ion-icon>
      <ion-label>Official Website</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon
        slot="start"
        color="medium"
        name="wikipedia-page"
        src="/assets/wikipedia.svg"
      ></ion-icon>
      <ion-label>Wikipedia Page</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon
        slot="start"
        color="medium"
        name="portugal-football-federation"
        src="/assets/portugal_football_federation.svg"
      ></ion-icon>
      <ion-label>League of clubs</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="logo-ionic"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-label>Theme Your App</ion-label>
        <ion-icon name="color-fill"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-label>Change Your App Layout</ion-label>
        <ion-icon name="grid"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-label>Scaffold Out Your App</ion-label>
        <ion-icon name="build"></ion-icon>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-label>Ionic Documentation</ion-label>
        <ion-icon name="book"></ion-icon>
      </ion-item>
    </ion-fab-list>
  </ion-fab>
</ion-content>
