.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-card {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
ion-label {
  margin-top: 0;
  border: 0;
  padding: 0;
  font-size: 1.2rem;
}
ion-fab {
  ion-fab-list {
    transform: translateX(-96%);
  }
  ion-item {
    width: 131%;
    height: 100%;
    --background: rgb(72, 138, 255);
  }
}
