* {
    font-size: 50px;
    background-color: rebeccapurple;
}

h1{
    color: red;
}

.costum_paragraph {
    font-size: larger;
    color: salmon;
    background-color: seagreen;
}

#first_header {
    font-size: small;
}

a {
    border: 2px solid slategray;
}

li>a {
    margin-left: 2em;
}

li>a>p {
    color: violet
}

h1+p{
    color: yellowgreen;
}

h1[id] {
    background-color: tomato;
}

a[target=_blank]{
    color: wheat;
}

[href="google"] {
    color: brown;
}