#container {
    height: 20rem;
    width: 20rem;
    background-color: lightgrey;
    position: relative;
}

#text {
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 10%;
    overflow: scroll;
}