<h2>Produtos</h2>

<!-- *ngFor é como o for tradicional -->
<!-- *ngFor = "var x of X's" -->
<!-- *ngIf é como o if tradicional -->

<div *ngFor="let product of products">
  <h3>
    <a
      [title]="product.name + ' detalhes'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">Descrição: {{ product.description }}</p>
  <button (click)="share()">Partilhar</button>
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
