.library {
  width: 20rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(212, 212, 212);
  background-image: linear-gradient(-45deg, rgb(180, 197, 240), #e5b8e9);
  background-size: 400% 400%;
  transform: translateX(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  h2 {
    padding: 2rem;
  }
  &.open {
    transform: translateX(0);
    opacity: 1;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 10pt;
  transition: 0.5s ease;
  img {
    width: 30%;
  }

  &.selected {
    background-color: rgb(211, 215, 230);
    animation-name: selectedAnimationFrames;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.47, 0, 0.75, 0.72);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  &:hover {
    background-color: rgb(220, 225, 243);
  }

  .song-description {
    padding: 1rem;
  }
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

@keyframes selectedAnimationFrames {
  from {
    background-color: rgba(179, 187, 207, 0.8);
  }
  to {
    background-color: rgba(179, 187, 207, 0);
  }
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
