.song {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 25%;
    border-radius: 10pt;
  }

  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .song {
    img {
      width: 60%;
    }
  }
}
