* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(-45deg, rgb(180, 197, 240), #e5b8e9);
  background-size: 400% 400%;
  animation-name: gradientkeyframes 5s ease infinite;
}

.App {
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
}

.library-active {
  margin-left: 20%;
}

h1,
h2,
h3 {
  color: rgb(48, 47, 47);
}

h5,
h6 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

@keyframes gradientkeyframes {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@import "./nav";
@import "./player";
@import "./song";
@import "./library";
