/*Exercício de centrar imagem e quadrado*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square {
    background-color: lightgray;
    display: flex;
    height: 200pt;
    width: 200pt;
}

img {
    height: 200pt;
    width: 200pt;
}

p {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}